workDir = "s3://tower-ops-2/work"

aws.region =  'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.batch.maxTransferAttempts = 5

process {
    executor = 'awsbatch'
    errorStrategy = 'retry'
    maxRetries = 4
    queue = { task.attempt == process.maxRetries ? 'largeVIPQ' : 'largeSpotQ' }
    
    withLabel: vip {
        queue = 'largeVIPQ'
    }
    withLabel: movers {
        queue = 'moversQ'
    }
    withLabel: largeHD {
        queue = { task.attempt == process.maxRetries ? 'largeVIPQ' : 'largeSpotQ' }
    }
    withLabel: gpu {
        queue = { task.attempt == process.maxRetries ? 'vipGPUQ' : 'spotGPUQ' }
    }
}
