docker.enabled = true	

process {
    executor = 'local'

    withLabel: minor {
        cpus = 1
        memory = "4 GB"
    }
    withLabel: mezzo {
        cpus = 2
        memory = "8 GB"
    }
    withLabel: median {
        cpus = 8
        memory = "48 GB"
    }
    withLabel: malform {
        cpus = 30
        memory = "120 GB"
    }
    withLabel: major {
        cpus = 30
        memory = "150 GB"
    }
    withLabel: cpu {
        cpus = 30
        memory = "150 GB"
    }
    withLabel: memory {
        cpus = 30
        memory = "150 GB"
    }

}
