


docker.enabled = true
aws.region =  'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

process {
    withLabel: batch {
        executor = 'awsbatch'
        queue = 'spotQ'
	errorStrategy = 'retry'
	maxRetries = 3	
    }
    withLabel: movers {
        executor = 'awsbatch'
        queue = 'moversQ'
	errorStrategy = 'retry'
	maxRetries = 3	
    }

}


params.type = 'awsSpot'

