tower {
  enabled = true
  endpoint = 'https://portal.dovetower.com/api'
}
  
profiles {
    standard {
    	includeConfig "./conf/spot.config" 
    }
    awsbatch { includeConfig "./conf/awsbatch.config" }
    spot { includeConfig "./conf/spot.config" }
    vip { includeConfig "./conf/vip.config" }
    largeSpot { includeConfig "./conf/largeSpot.config" }
    spotMovers { includeConfig "./conf/spotMovers.config" }
    mixSpot { includeConfig "./conf/mixSpot.config" }
    local { includeConfig "./conf/local.config" }
    vipGPU { includeConfig "./conf/vipGPU.config" }
    test { includeConfig "./conf/test.config" }
}


