workDir = "s3://tower-ops-2/work"
//workDir = '/fsx'

aws.region =  'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
aws.batch.maxTransferAttempts = 5

process {
    executor = 'awsbatch'
    queue = 'spotQ'
    errorStrategy = 'retry'
    maxRetries = 3
        
    withLabel: vip {
        queue = 'vipQ'
    }
    withLabel: movers {
        queue = 'moversQ'
    }
    withLabel: largeHD {
        queue = 'largeSpotQ'
    }

}
