
profiles {

   standard {
        docker.enabled = true
		  params.type = 'standard'
		  }

   mix {
       	aws {
            region = 'us-west-2'
            batch {
                  cliPath = '/home/ec2-user/miniconda/bin/aws'
                  }
             }

        process {
                withLabel: bigTask {
                executor = 'awsbatch'
                queue = 'NF-OPT-Q'
                          }
                }
       }
}